lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map.css
.DS_Store

pids
logs
results

npm-debug.log
node_modules

/.build
/.firebase.conf

.sass-cache

static/scss/bourbon
static/scss/neat


.jshintrc

# ignore compiled CSS
main.css

