lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map.css
.DS_Store

pids
logs
results

npm-debug.log
node_modules
static/scss/bourbon
static/scss/neat

/.build
/.firebase.conf

.sass-cache

.jshintrc

# ignore compiled CSS and JS
main.css
bundle.js

