{% macro card( content, position ) %}
		<article id="{{ content.name|lower|replace(' ', '-', g) }}" class="content-card content-card-{{ position }}">


			<div class="content-card-title">
				<h6 class="light gray mb0">{{ content.publish_date|date('d . m . y') }}</h6>
				<h5 class="mt0"><a class="content-link internal" href="{{ url( content ) }}">{{ content.name }}</a></h5>
			</div>

			<ul class="content-card-topic-list mb2">
				{% for topic in content.topics %}

					<li class="h6"><a class="internal {% if url( topic ) == getCurrentUrl()  %}active{% endif %}" href="{{ url( topic ) }}">{{ topic.name }}</a></li>

				{% endfor %}
			</ul>

			<div class="content-card-summary">

			<p>{{ content.summary }}</p>

			</div>

			{% if content.images %}
			<ul class="content-card-image-list">
				{% for image in content.images %}
				<li class="content-card-image-item">
					<img src="{{ image|imageSize(100,auto) }}" />
				</li>
				{% endfor %}
			</ul>
			{% endif %}

		</article>
{% endmacro %}