
{% macro card( content, position ) %}

		{% import "templates/partials/anchors.html" as a %}

		<article id="{{ content.name|lower|replace(' ', '-', g) }}" class="content-card content-card-{{ position }}">
			


			<div class="content-card-title">
				<h6 class="light gray mb0">{{ content.publish_date|date('m . d . y') }}</h6>
				<h5 class="mt0">{{ a.internal( content, 'content-link' ) }}</h5>
			</div>

			<ul class="content-card-topic-list mb2">
				{% for topic in content.topics %}

					<li class="h6">{% if url( topic ) == getCurrentUrl()  %}{{ a.internal( topic, 'active' ) }}{% else %}{{ a.internal( topic ) }}{% endif %}</li>

				{% endfor %}
			</ul>

			<div class="content-card-summary">

			<p>{{ content.summary }}</p>

			</div>

			{% if content.images %}
			<ul class="content-card-image-list">
				{% for image in content.images %}
				<li class="content-card-image-item">
					<img src="{{ image|imageSize(100,auto) }}" />
				</li>
				{% endfor %}
			</ul>
			{% endif %}

			
		</article>
		
{% endmacro %}