{# ----------------------------------------------------------- #}

{# FOOTER PARTIAL #}

{# ----------------------------------------------------------- #}

{% import 'templates/partials/anchors.html' as a %}

<footer class="container p1">
	<div class="footer-link footer-home-link">
		<a class="h6 footer" href="/">Lawrence Neeley</a>
	</div>
	<div class="footer-link footer-list-link">
		<a class="h6 footer" href="/list">List</a>
	</div>
	<div class="footer-link footer-topics-link">
		<a class="h6 footer" href="/topics">Topics</a>
	</div>
	<div class="footer-link footer-content-link">
		<a class="h6 footer" href="/content">Content</a>
	</div>
</footer>