{% macro statement() %}

{% import "templates/partials/anchors.html" as a %}

<nav id="statement">

	<span class="statement-element block">

		<a class="statement-link internal" href="/about" data-invitation="Click to learn more about Lawrence.">Lawrence Neeley</a>

		<span id="lawrence-neeley" class="h5 statement-caption off">
				
			<h5>Lawrence Neeley is {% for phrase in cms.home.statement %}{{ phrase.display_text }} {% endfor %}</h5>

		</span>


	</span>

	<span>is</span>

	{% for phrase in cms.home.statement %}

		<span class="statement-element block"> 

		{% if phrase.linked_topic %}<a class="statement-link internal {% if getCurrentUrl() == url( phrase.linked_topic ) %}active{% endif %}" href="{{ url( phrase.linked_topic ) }}" {% if phrase.linked_topic.invitation %}data-invitation="{{ phrase.linked_topic.invitation }}"{% endif %}>{% endif %}{{ phrase.display_text }}{% if phrase.linked_topic %}</a>{% endif %}

			{% if phrase.linked_topic %}
			<span id="{{ phrase.linked_topic.name|lower|replace(' ', '-', g) }}" class="h5 statement-caption off">

			<h5>{{ phrase.linked_topic.summary }}</h5>
			<h6 class="italic">{{ phrase.linked_topic.content_topics|size }} note{{ phrase.linked_topic.content_topics|size|pluralize('s') }}.</h6>

			</span>
			{% endif %}

		</span>


	{% endfor %}

</nav>
{% endmacro %}


{% macro invitation() %}

<section id="invitation-container">
	<aside id="invitation">
		<h5 class="italic light off"></h5>
	</aside>
</section>

{% endmacro %}