{# ----------------------------------------------------------- #}

{# TOPICS INDIVIDUAL #}

{# ----------------------------------------------------------- #}

{% import "templates/partials/nav.html" as nav %}

{% import "templates/partials/anchors.html" as a %}

{% import "templates/partials/content-cards.html" as content %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block body_attributes %}class="{{ item.name|lower|replace(' ', '-', g ) }}"{% endblock %}

{% block content %}


  <article id="topic-container" class="container pb3">
    <section id="topic">

      <div id="topic-name"><h2 class="mb1">{{ a.internal( item, 'active bold' ) }}</h2></div>

      {% if item.subtopics %}
      <div id="topic-subtopics">
      <ul>
        <li class="inline h6">Related:</li>
        {% for subtopic in item.subtopics %}

        <li class="inline h6">{{ a.internal( subtopic, 'bold' ) }}{% if loop.index != item.subtopics|size %}<span class="comma bold">,</span>{% endif %}</li>

        {% endfor %}
      </ul>
      </div>
      {% endif %}

      <div id="topic-stamp">

          {% if item.definitions|size > 0 %}
          <ol id="topic-definitions">
          {% for term in item.definitions %}

          <li class="topic-definition mb1">
            <h5 class="light">
              {% if term.definition_heading %}<span class="bold">{{ term.definition_heading }}</span>{% endif %}
              {{ term.definition }}
            </h5>
          </li>

          {% endfor %}
          </ol>
          {% endif %}
        
      </div>

      <div id="topic-content-left" >

          {% if item.content_topics|size > 0 %}

            {{ content.card( item.content_topics|sort('publish_date', true)|first, "left" ) }}

          {% endif %}
        
      </div>

      <div id="topic-content-below" class="mt2">

        {% if item.content_topics|size > 0 %}

        {% for contentItem in item.content_topics|sort('publish_date', true)|slice(1, item.content_topics|size ) %}

          {{ content.card( contentItem, "below" ) }}

        {% endfor %}

        {% endif %}
        
      </div>
      
    </section>
  </article>

  {{ nav.invitation() }}

{% endblock %}
