{% import "templates/partials/nav.html" as nav %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block body_attributes %}class="{{ item.name|lower|replace(' ', '-', g ) }}"{% endblock %}

{% block content %}

  <article id="topic-container">
    <section id="topic">

      <div id="topic-stamp">

          <h2 class="mb2"><a class="internal" href="{{ url( item ) }}">{{ item.name }}</a></h2>

          {% if item.definitions|size > 0 %}
          <ol id="topic-definitions">
          {% for term in item.definitions %}

          <li class="{% if term.definition_heading %}topic-definition-heading{% endif %} topic-definition mb1">
            {% if term.definition_heading %}<h4 class="light">{{ term.definition_heading }}</h4>{% endif %}
            <h5 class="light">{{ term.definition }}</h5>
          </li>

          {% endfor %}
          </ol>
          {% endif %}
        
      </div>

      <div id="topic-content">
        
      </div>
      
    </section>
  </article>

  <section class="invitation">
    
  </section>

{% endblock %}
