{% import "templates/partials/anchors.html" as a %}

{% import "templates/partials/nav.html" as nav %}

{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

<article id="{{ item.name|lower|replace(' ', '-', 'g') }}" class="content mt4">
  
  <section class="content-text">
    <section class="content-header mb2">
      <h5 class="light gray">{{ item.publish_date|date('m . d . y') }}</h5>
      <h1 class="mb1">{{ a.internal( item ) }}</h1>
      <ul class="content-topic-list">
      {% for topic in item.topics %}
    
      <li class="content-topic">{{ a.internal( topic, "small" ) }}</li>
  
      {% endfor %}
      </ul>
    </section>
    
    {% if item.body %}    
    <section class="content-body active">

      {{ item.body|markdown }}

    </section>
    {% endif %}
  </section>


  {% if item.images|size > 0 %}
  <section class="eighty content-images {% if !item.body %}active wide{% endif %}">
    <ul class="content-images-list">
      {% for image in item.images %}

      <li class="content-image">
        <img src="{{ image|imageSize(1000,auto)}}" />
      </li>

      {% endfor %}
    </ul>
  </section>
  {% endif %}
  
</article>

{% endblock %}
