{# ----------------------------------------------------------- #}

{# LIST PAGE #}

{# ----------------------------------------------------------- #}

{% import "templates/partials/nav.html" as nav %}

{% import "templates/partials/content-cards.html" as content %}

{% import "templates/partials/topic-cards.html" as topic %}

{% extends "templates/partials/base.html" %}

{% block body_attributes %}class="page-list"{% endblock %}

{% block content %}

<article id="list" class="container">

	<svg id="list-topic-network"></svg>

	<section id="list-topics">
		<h1 class="list-header light">Topics</h1>
		<ul>
			{% for item in cms.topics %}
			<li data-network-source="{{item.name|lower|replace(' ', '-', 'g')}}" class="list-topic-card mt4">

				{{ topic.card( item, 'list' ) }}

			</li>
			{% endfor %}
		</ul>
		
	</section>

	<section id="list-content">
		<h1 class="list-header light">Content</h1>
		<ul>
		{% for item in cms.content %}


		<li data-network-targets="{% for topic in item.topics %}{{topic.name|lower|replace(' ','-','g')}},{% endfor%}*" class="list-content-card"> 

			{{ content.card(item, 'list' ) }}
			
		</li>
		{% endfor %}
		</ul>
	</section>

</article>

{{ nav.invitation() }}

{% endblock %}