/**
 * Content Cards
 */

.content-card {
	position:relative;
	z-index: 500;

	ol, ul {
		padding: 0;
	} 
}

.content-card-left {
	@include span-columns( 7 of 7 );

}

.content-card-below {
	@include span-columns( 5 of 10 );

}

.content-card-title {
	width:50%;
	line-height: 2em;
}

.content-card-topic-list, .content-topic-list {
	list-style: none;
	padding: 0;

	li {
		display: inline;
		@extend .mr1;
	}

}

.content-card-summary {

	p {
		font-size: .8em;
		@extend .light;
		@extend .light;
	}

}

.content-card-image-list {
	position: absolute;
	top:0;
	left:55%;
	width: 50%;
	height: 100%;
	z-index: -250;

	opacity: .15;

	list-style: none;
	overflow: hidden;


	li {
		@extend .mb1;
		z-index: -250;
		width:100%;
	}
}

/**
 * Content Page
 */

.content {
	@include outer-container();
	position: relative;
	top: 0; left: 0;
}

.content-text {
	@include span-columns( 8 );
	@extend .lefted;

	position:absolute;
	top: 0; left: 0;

	
}

.content-header {
	@include span-columns( 8 of 8 );

	z-index: 750;
}

.content-body {
	@include span-columns( 8 of 8 );

	opacity: .25;
	z-index: 100;

	@include transition(opacity $short-duration ease-in);

	&.active {
		opacity: 1;
		z-index: 500;
	}

	h1 {
		@extend .regular;
		@extend .mb1;
		@extend .mt2;
		font-size: 1.5em;
	}

	h2 {
		@extend .regular;
		@extend .mb1;
		@extend .mt2;
		font-size: 1.2em;
	}

	h3 {
		@extend .regular;
		@extend .mb2;
		@extend .mt2;
		font-size: 1em; 
	}

	h4 {
		@extend .regular;
		@extend .mb2;
		font-size: .9em;
	}

	h5 {
		@extend .regular;
		@extend .mb2;
		font-size: .8em;
	}

	h6 {
		@extend .regular;
		@extend .mb2;
		font-size: .6em;
	}

	p {
		@extend .light;
		@extend .mb2;
		font-size: .8em;
	}

	li {
		@extend .mb1;
	}

	li:before {
		@extend .aller;
		@extend .regular;
		@extend .h5;

		position:absolute;
		left: -50px;
	}

	ol, ul {
		@extend .mb3;
		
		position: relative;
		padding: 0; margin: 0;
		list-style:none;


		li:before {
			content:"-";
		}
	}

	ol {
		counter-reset: li;

		li:before {
			counter-increment: li;
			content: counter(li)".";
		}

	}

}

.content-images {
	@include span-columns( 6 );
	@extend .righted;

	position: absolute;
	top: 0; right: 0;
	opacity: .15;

	z-index: 100;

	overflow: scroll;

	@include transition(opacity $short-duration ease-in);

	&.active {
		opacity: 1;
		z-index: 500;
	}

	ul {
		width:100%;
		list-style: none;
		margin: 0; padding: 0;

		cursor: ns-resize;

		li {
			@extend .mb2;
		}

		img {
			width: 100%;
			border: 1px solid $body-base-color; 
		}
	}
}

.content-images.wide {
	@include span-columns( 8 );
}
	























