/**
 * Content Cards
 */

.content-card {
	position:relative;
	z-index: 500;

	ol, ul {
		padding: 0;
	} 
}

.content-card-left {
	@include span-columns( 7 of 7 );

}

.content-card-below {
	@include span-columns( 5 of 10 );

}

.content-card-title {
	width:50%;
	line-height: 2em;
}

.content-card-topic-list, .content-topic-list {
	list-style: none;
	padding: 0;

	li {
		display: inline;
		@extend .mr1;
	}

}

.content-card-summary {

	p {
		font-size: .8em;
		@extend .light;
		@extend .light;
	}

}

.content-card-image-list {
	position: absolute;
	top:0;
	left:55%;
	width: 50%;
	height: 100%;
	z-index: -250;

	opacity: .25;

	list-style: none;
	overflow: hidden;


	li {
		z-index: -250;
		width:100%;
	}
}

/**
 * Content Page
 */

.content {
	@include outer-container();
	position: relative;
	top: 0; left: 0;
}

.content-text {
	@include span-columns( 7 );
	@extend .lefted;

	position:absolute;
	top: 0; left: 0;

	
}
	.content-header {
		z-index: 500;
	}

	.content-body {
		opacity: .25;
		z-index: 100;

		&.active {
			opacity: 1;
			z-index: 500;
		}
	}

.content-images {
	@include span-columns( 6 );
	@extend .righted;

	position: absolute;
	top: 0; right: 0;
	opacity: .25;

	z-index: 100;

	&.active {
		opacity: 1;
		z-index: 500;
	}

	ul {
		width:100%;
		list-style: none;
		margin: 0; padding: 0;

		li {
			@extend .mb2;
		}

		img {
			width: 100%;
		}
	}
}
	























