#invitation-container {
	background-color: transparent;

}

#invitation-button {
	@extend .mt1;
	float:right;
	width:16px;
	height:16px;
	// background-color: lighten( $invitation-color, 30);
	// border: 1px solid $invitation-color;

	border: 1px solid $link-passive-color;
	background-color: lighten( $link-passive-color, 12.5);

	@include border-top-radius( 8px );
	@include border-bottom-radius( 8px );

	&.active {
		border-color: $invitation-color;
		background-color: lighten( $invitation-color, 30);
	}
}

#invitation {
	//@include shift( 4 of 12 );
	//@include span-columns( 4 of 12 );
	@extend .centered;

	font-size: .8em;
	background-color: transparent;
	position: fixed;
	bottom: 1%;
	left:0;

	z-index: 1000;

	@include transition( opacity $short-duration ease-in );

	.on {
		@extend .p1;
		background-color: lighten( $invitation-color, 30);
		border-top: 5px solid $invitation-color;
	}
}
.on {
	opacity: 1;
}

.off {
	opacity: 0;
}

