a, .title {
	color: $body-base-color;
	text-decoration: none;
	padding-bottom:2px;

	padding-left:2px;
	padding-right:2px;

	border-bottom: 5px solid $link-passive-color;

	&:hover, &:active {

		border-color: $external-active-color;
		background-color: lighten( $external-active-color, 35);

	}

	@include transition(all .2s linear);

	&.internal {
		border-bottom: 5px solid $link-passive-color;
		background-color: lighten( $link-passive-color, 12.5);
		line-height: 2.5em;

		&:hover, &:active {
			
			border-color: $internal-active-color;
			background-color: lighten( $internal-active-color, 35);

		}
	}
	

	&.active {

		border-color: $internal-active-color;
		background-color: lighten( $internal-active-color, 35);
		
	}
}

