#topic-container {
	@extend .mt2;
}

#topic {
	@include span-columns(12);
}

#topic-name {
	@include span-columns(12 of 12);
}

#topic-subtopics {
	@include span-columns(12 of 12);

	ul {
		padding:0;

		.comma {
			//padding-left: .5em;
			padding-right: .2em;
		}
	}
}

#topic-stamp {

	@include span-columns(5 of 12);
	font-size: 1.1em;
	
	ol {

		counter-reset: li;
		margin-left:0;
		padding-left:0;

		li:before {
			@extend .aller;
			@extend .regular;
			@extend .h5;

			counter-increment: li;
			content: counter( li )"." ;
			position: absolute;
			left: -50px;
		}

		li.topic-definition-heading:before {
			@extend .aller;
			@extend .regular;
			@extend .h4;

			counter-increment: li;
			content: counter( li )"." ;
			position: absolute;
			left: -50px;
		}

		li {
			position: relative;
			list-style: none;
		}
	}
}


#topic-content-left {
	@include shift(1 of 12);
	@include span-columns(5 of 12);
	
}

#topic-content-below {
	@include shift( 1 of 12 );
	@include span-columns(10 of 12);
	
}

@media screen and (min-width: $lg-break) {


}

@media screen and (max-width: $lg-break ) {

}


@media screen and (max-width: $sm-break) {
	#topic-stamp {
		@include span-columns(12 of 12);
		font-size: 1em;
	}

	#topic-content-left {
		@include span-columns(12);
		
	}

	
	#topic-content-below {
		@include span-columns(12);
	}

	.list-topic-card {
		.topic-card-meta-summary {
			display: none;
		}
	}

}

@media screen and (max-width: $xs-break) {

}
