.aller {
	font-family: "aller", sans-serif;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.aller-bold {
	@extend .aller;
	@extend .bold;
}

.aller-regular {
	@extend .aller;
	@extend .regular;
}

.aller-light {
	@extend .aller;
	@extend .light;
}

.centered {
	text-align: center;
}

.lefted {
	text-align: left;
}

.righted {
	text-align: right;
}

.gray {
	color: $link-passive-color;
}

body {
	
	@extend .aller-regular;
	font-size: $body-base-size;
	color: $body-base-color;
	line-height: 1.3em;
	letter-spacing: .027em;
}

h1, .h1 {
	font-size: 1.5em;
}

h2, .h2 {
	font-size: 1.25em;
}

h3, .h3 {
	font-size: 1.1em;
}

h4, .h4 {
	font-size: 1em;
}

h5, .h5 {
	font-size: .8em;
}

h6, .h6 {
	font-size: .7em;
}


p, .p {
	font-size: 1em;
}

.small {
	font-size: .75em;
}

