$grid-columns: 12;

$body-base-size: 18px;

$base-font-family: 'aller', sans-serif;
$font-size-base: 1em;
$line-height: 1.5em;

$dt-font-weight: bold;
$abbr-border-color: gray;


$body-base-color: #353535;
$body-light-color: #aaa;
$body-bg-color: #eee;

$link-passive-color: #ccc;
$internal-active-color: #FF0099;
$external-active-color: #0DD5FC;

$invitation-color: #F3F315;

$short-duration: .2s;
$long-duration: .5s;

$table-bg: gray;
$table-cell-padding: 2px;
$text-muted:#454545;

$lg-break: 1050px;
$sm-break:762px;
$xs-break:520px;

$max-width-lg: $lg-break - 100px;
$max-width-md: $sm-break - 100px;
$max-width-sm: $xs-break - 100px;
$max-width-xs: 280px;