$grid-columns: 12;

$body-base-size: 18px;

$base-font-family: 'aller', sans-serif;
$font-size-base: 1em;
$line-height: 1.5em;
$body-base-color: #353535;
$body-light-color: #555;
$body-bg-color: #eee;
$dt-font-weight: bold;
$abbr-border-color: gray;

$link-passive-color: #ccc;
$internal-active-color: #FF0099;
$external-active-color: #0DD5FC;

$max-width: 960px;


$table-bg: gray;
$table-cell-padding: 2px;
$text-muted:#454545;
